.App {
  text-align: center;
}

.App-logo {
  _animation: App-logo-spin infinite 20s linear;
  width: 5vh;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
